/**
*
*
*    START PAGE
*
*
**/

html {
	min-height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: url('../img/background-1.jpg') no-repeat fixed;
	position: relative;
}

body {
	background-color: transparent;
	overflow-x: hidden;
	min-height: 100%;
}

a {
	text-decoration: none;
	color: #555555;
}

a:hover {
	color: #aaaaaa;
	text-decoration: none;
}

li {
	list-style: none;
}

.start {
	min-height: 500px;
}

.start .header {
	position: absolute;
	top: -150px;
	width: 100%;
	height: 100px;
}

.start .header .container h1 {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.start .content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.start .content .container {
	background: #ffffff;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

/**
*
*
*    PAGE
*
*
**/

.page .header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: url('../img/background-1.jpg') no-repeat fixed;

	-moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
}

.page .header:hover {
	-webkit-transform: scale(1.1, 1.1);
   -moz-transform: scale(1.1, 1.1);
   -ms-transform: scale(1.1, 1.1);
   -o-transform: scale(1.1, 1.1);
   transform: scale(1.1, 1.1);
}

.page .header .container, .start .header .container {
	text-align: center;
	color: #ffffff;
}

.page .header .container h1 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -36px;
}

.page .header .container small, .start .header .container small {
	display: block;
	color: #f5f5f5;
	margin-top: 10px;
}

.page .content {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;

	background-color: #ffffff;
	min-height: 100%;
	display: block;

	margin: 0;
	padding: 70px 0;
}